PORT=5000
NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/indiadits_db?schema=public"
JWT_ACCESS_SECRET="super_secret_access_token_key_indiadits_2026"
JWT_REFRESH_SECRET="super_secret_refresh_token_key_indiadits_2026"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
CORS_ORIGIN="http://localhost:3000"
